* {
    margin: 0;
}

body {
    margin: 2%;
    background-color: #FBFBFD;
    overflow-x: hidden;
}



/* navbar css starts */

nav {
    width: 50%;
    height: 80px;
    margin: auto;
    margin-top: 50px;
    border-radius: 50px;
    box-shadow: 2px 1px 10px;
    background-color: #e6e6e6;
}

.nav-icon-collection {
    gap: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav-icon {
    width: auto;
    height: 40%;
}

/* navbar css ends */



/* page 1 body starts */
.pic-one {
    height: 30%;
    width: 30%;
    border-radius: 10px;
    margin: 0;
}

.pic-two {
    margin: 0;
    height: 30%;
    width: 30%;
    border-radius: 10px;
}

.heading {
    width: 25%;
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.icons-collection {
    display: flex;
    text-align: center;
    margin-top: 30px;
    padding-right: 50px;
}

.icons-collection img {
    width: 40%;
    height: 60%;
}

.rectangle {
    max-width: fit-content;
    font-family: somar;
    font-size: 20px;
    text-align: center;
    margin-left: 50%;
}

.icons {
    padding-left: 90px;
}

img {
    height: 10%;
    width: 10%;
    margin: 20px 20px;
    border-radius: 10px;
}

#step-one img {
    height: 35px;
    width: 40px;
}
.step-one-icons {
    display: flex;
    justify-content: center;
    gap: 7%;
}


.bottom-tittle {
    color: goldenrod;
    font-family: somar;
    font-style: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 80px;

}

#right-arrow {
    width: 4%;
    position: absolute;
    left: 95%;
    top: 60%;
    position: fixed;
}








/* for mobile responsiveness */
@media screen and (max-width: 768px) {

    .icons-collection {
        text-align: center;
        margin-top: 30px;
        padding-right: 0px;
    }

    .icons {
        padding-left: 0px;
    }

    nav {
        width: 100%;
        height: 10%;
    }

    .nav-icon-collection {
        display: flex;
        justify-content: center;
        gap: 2%;
        height: 100%;
    }

    .step-one-icons {
        display: flex;
        justify-content: center;
        gap: 2%;
    }

    #right-arrow {
        width: 5%;
        height: 4%;
        position: absolute;
        left: 88%;
        top: 40%;
        position: fixed;
    }


    .icons-collection img {
        width: 50%;
        height: 30%;
    }

    
    .rectangle {
        font-size: 10px;
        text-align: center;
        margin-left: 30%;
    }
    .bottom-tittle {
        width: 50%;
        height: 25%;
        font-size: 12px;
        display: block;
        margin: 20% auto;
    }





}

/* page 1 body ends */