* {
    margin: 0;
    border: 0;
}

body {
    background-color: #FBFBFD;
    overflow-x: hidden;
}

/* navbar starts */
nav {
    height: 80px;
    width: 50%;
    background-color: #e6e6e6;
    border-radius: 50px;
    margin: auto;
    margin-top: 5px;
    box-shadow: 2px 1px 10px;
}

.nav-icon-collection {
    display: flex;
    justify-content: center;
    gap: 8%;
    height: 100%;
}

.nav-icon {
    width: auto;
    height: 40%;
}

img {
    height: 10%;
    width: 10%;
    margin: 20px 20px;
    border-radius: 10px;
}
/* navbar ends */




#section-two {
    position:relative;
}
#left-arrow {
    width: 4%;
    position: absolute;
    left: 0%;
    top: 60%;
}
#right-arrow {
    width: 4%;
    position: absolute;
    left: 90%;
    top: 60%;
}

.flag-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    gap: 1%;
    align-items: center;
}

.flag {
    width: 40%;
    height: 50%;
}

.flag-text {
    text-align: right;
    font-family: somar;
    font-size: 20px;
}
.flag-text p{
    line-height: 5px;
}

.text-gray {
    color: gray;
}

.blue-dot {
    height: 15px;
    width: 15px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}

.yellow-dot {
    height: 15px;
    width: 15px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}

.green-dot {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}

.orange-dot {
    height: 15px;
    width: 15px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}

.pink-dot {
    height: 15px;
    width: 15px;
    background-color: pink;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}

.cyan-dot {
    height: 15px;
    width: 15px;
    background-color: cyan;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}

.light-blue-dot {
    height: 15px;
    width: 15px;
    background-color: lightblue;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}

.light-cyan-dot {
    height: 15px;
    width: 15px;
    background-color: lightcyan;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}

.light-green-dot {
    height: 15px;
    width: 15px;
    background-color: lightgreen;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}

#left-arrow {
    width: 4%;
    position: absolute;
    left: 0%;
    top: 60%;
    position: fixed;

}
#right-arrow {
    width: 4%;
    position: absolute;
    left: 95%;
    top: 60%;
    position: fixed;

}








/* responsiveness for mobile */
@media screen and (max-width: 768px) {

  
    nav {
        height: 60px;
        width: 100%;
        background-color: #e6e6e6;
        border-radius: 50px;
        margin: auto;
        margin-top: 5px;
        box-shadow: 2px 1px 10px;
    }

  

    #left-arrow {
        width: 5%;
        height: 4%;
        position: absolute;
        left: 0%;
        top: 40%;
    position: fixed;

    }

    #right-arrow {
        width: 5%;
        height: 4%;
        position: absolute;
        left: 88%;
        top: 40%;
    position: fixed;

    }

    .flag-details {
        display: block;
        margin-top: 50px;
        gap: 2%;
        align-items: center;
        padding: 7%;
    }
    .flag-text {
        
        font-size: 10px;
    }
    .flag-text p{
        line-height: 10px;
    }

    div#flag {
        order: 0;
    }
    div#flag-text {
        order: 1;
    }

    .flag{
        width: 80%;
    }

   
}