* {
    margin: 0;
}

body {
    margin: auto;
    background-color: #FBFBFD;
}



/* navbar starts */
nav {
    height: 80px;
    width: 50%;
    background-color: #e6e6e6;
    border-radius: 50px;
    margin: auto;
    margin-top: 5px;
    box-shadow: 2px 1px 10px;
}

.nav-icon-collection {
    display: flex;
    justify-content: center;
    gap: 8%;
    height: 100%;
}

.nav-icon {
    width: auto;
    height: 40%;
}
img {
    height: 10%;
    width: 10%;
    margin: 20px 20px;
    border-radius: 10px;
}
/* navbar ends */



/*----------------------------- page 2 css starts -----------------------------  */

.world-map {
    position: relative;
    height: 100vh;
    padding: 2%;
}

#northamerica-map {
    height: 50%;
    width: 25%;
    background-repeat: no-repeat;
    position: absolute;
    left: 10%;
    top: 10%;
}

#canada-map {
    height: 30%;
    width: 25%;
    background-repeat: no-repeat;
    position: absolute;
    left: 25%;
    top: 0px;
}

#southamerica-map {
    height: 30%;
    width: 15%;
    background-repeat: no-repeat;
    position: absolute;
    left: 28%;
    top: 50%;
}

#europe-map {
    height: 35%;
    width: 25%;
    background-repeat: no-repeat;
    position: absolute;
    left: 42%;
    top: 30%;
}

#asia-map {
    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 45%;
    top: 0%;
}

#australia-map {
    height: 20%;
    width: 20%;
    background-repeat: no-repeat;
    position: absolute;
    left: 75%;
    top: 50%;
}

#northamerica-flag {
    position: absolute;
    left: 10%;
    top: 15%;
    z-index: 1;
}

#southamerica-flag {
    position: absolute;
    left: 34%;
    top: 50%;
    z-index: 1;
}

#europe-flag {
    position: absolute;
    left: 50%;
    top: 33%;
    z-index: 1;
}

#asia-flag {
    position: absolute;
    left: 70%;
    top: 5%;
    z-index: 1;
}

#australia-flag {
    position: absolute;
    left: 80%;
    top: 50%;
    z-index: 1;
}

#left-arrow {
    width: 4%;
    position: absolute;
    left: 0%;
    top: 60%;
    position: fixed;
}
#right-arrow {
    width: 4%;
    position: absolute;
    left: 95%;
    top: 60%;
    position: fixed;

}






/* responsiveness for mobile */
@media screen and (max-width: 768px) {
     
     nav {
        height: 60px;
        width: 100%;
        background-color: #e6e6e6;
        border-radius: 50px;
        margin: auto;
        margin-top: 5px;
        box-shadow: 2px 1px 10px;
    }
     .world-map {
        position: relative;
        height: 60vh;
        margin-top: 100px;
    }

    #northamerica-map {
        left: 8%;
        height: 25%;
        width: 20%;
    }

    #canada-map {
        height: 17%;
        width: 25%;
        left: 20%;
        top: 4%;
    }

    #southamerica-map {
        height: 15%;
        width: 15%;
        left: 22%;
        top: 30%;
    }

    #southamerica-flag {
        left: 28%;
        top: 30%;
    }

    #europe-map {
        height: 15%;
        width: 15%;
        left: 42%;
        top: 15%;
    }

    #europe-flag {
        left: 50%;
        top: 15%;
    }

    #asia-map {
        height: 25%;
        width: 45%;
        left: 40%;
        top: 0%;
    }

    #asia-flag {
        left: 60%;
        top: 5%;
    }

    #australia-map {
        height: 20%;
        width: 20%;
        left: 65%;
        top: 25%;
    }

    #australia-flag {
        position: absolute;
        left: 75%;
        top: 25%;
        z-index: 1;
    }

    #left-arrow {
        width: 5%;
        height: 4%;
        position: absolute;
        left: 0%;
        top: 40%;
    position: fixed;
    }

    #right-arrow {
        width: 5%;
        height: 4%;
        position: absolute;
        left: 88%;
        top: 40%;
    position: fixed;
    }
}
